################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Personal-Projects/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Advanced-C++/.vs/Advanced-C++/v16
/Advanced-C++/Debug/Advanced-C++.Build.CppClean.log
/Advanced-C++/Debug/Advanced-C++.exe
/Advanced-C++/Advanced-C++.vcxproj.user
/Advanced-C++/Advanced-C++.vcxproj.filters
/Advanced-C++/Advanced-C++.vcxproj
/Advanced-C++/Debug/Advanced-C++.tlog
/Advanced-C++/Debug/Advanced-C++.exe.recipe
/Advanced-C++/Debug/Advanced-C++.ilk
/Advanced-C++/Debug
