################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.ilk
*.suo
*.ipch
*.recipe
*.log
*.idb
*.txt
*.tlog
*.json
*.opendb
*.db-wal
*.db-shm
